.feedContainer {
  width: 70%;
}

.searchBar {
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  padding: 1% 30%;
}

.searchBar input {
  font-size: 20px;
  padding: 10px;
}

.tabsContainer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0% 20%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.activeTab {
  border-bottom: 5px solid var(--primary-color);
  font-weight: bold;
}

.thumbnailList {
  min-height: 90vh;
}
