.thumbnailContainer {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 20px 40px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.contentSection {
  display: flex;
}

.content {
  margin: 20px 40px;
  font-size: 20px;
}
