.container {
  width: 800px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.data {
  display: flex;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.label {
  font-weight: bold;
  padding: 10px;
  text-align: right;
}

.value {
  padding: 20px;
  text-align: left;
}

input,
select {
  background-color: var(--background-color-light);
  color: var(--text-color);
  border: 1px solid var(--background-color);
  width: 100%;
  height: 30px;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.bioTitle {
  font-weight: bold;
  text-align: center;
}

.bioText {
  background-color: var(--background-color-light);
  color: var(--text-color);
  border: 1px solid var(--background-color);
  text-align: center;
  resize: vertical;
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
