.questionContainer {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 40px;
  border-radius: 40px;
}

.questionSentence {
  font-size: 20px;
  text-align: center;
}
.answers {
  display: flex;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.5;
}

.answer:hover {
  opacity: 1;
}

.answerImg {
  height: 300px;
  width: 300px;
}

.answerText {
  background-color: var(--background-color-light);
  font-size: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
  user-select: none;
}
