.categoriesContainer {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoriesList {
  background-color: var(--background-color-light);
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.categoryItem {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.removeButton {
  margin-left: 5px;
  cursor: pointer;
}

.addCategoryContainer {
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.addCategoryContainer input {
  font-size: 20px;
  border-radius: 20px;
  padding: 0px 20px;
  height: 45px;
  width: 50%;
}
