.HomeContainer {
  display: flex;
  flex-direction: column;
}

.crestContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crestContainer img {
  height: 200px;
  margin: 20px;
}
