.houseQuizContainer {
  display: flex;
  flex-direction: column;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.houseText {
  font-weight: bold;
}

.houseImg {
  width: 400px;
}
