.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  padding: 10px;
  text-align: right;
  width: 20%;
}

.value {
  padding: 20px;
  text-align: left;
  width: 80%;
}

.loginForm input {
  background-color: var(--background-color-light);
  color: var(--text-color);
  border: 1px solid var(--background-color);
  height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 5000px var(--background-color-light) inset;
  -webkit-text-fill-color: var(--text-color) !important;
}

.registerOption {
  font-weight: bold;
}

.registerLink {
  color: var(--primary-color);
  margin: 0px 10px;
  cursor: pointer;
}

.formValidationMessage {
  color: var(--remove-color);
}
