.footer {
  color: black;
  background-color: #d0f3ff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.title {
  font-size: 14px;
}

.footer a {
  color: black;
}
