.link {
  width: 120px;
  text-align: center;
  background-color: #e9ecef;
  margin-right: 10px;
  border-radius: 10px;
}

.link:hover {
  background-color: #ffad14;
}

.logo {
  color: white;
  margin-left: 20px;
}
.logo:hover {
  color: #ffad14;
}

.navbar {
  background-color: #2c2a29;
}
