.navbar {
  background-color: var(--background-color);
}

.link {
  color: var(--text-color);
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  width: 140px;
}

.link:hover {
  color: var(--primary-color);
}

.logo {
  color: var(--text-color);
  font-weight: bold;
  margin-left: 20px;
}
.logo:hover {
  color: var(--primary-color);
}
