.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.table {
  width: 10vw;
  height: 60vh;
  background-color: #553624;
  margin: 2px;
  border: 5px solid black;
  border-radius: 5px;
}
