:root {
  --background-color: #191825;
  --background-color-light: #312e47;
  --text-color: #ffffff;
  --text-color-fade: #9c9b9b;
  --primary-color: #e384ff;
  --primary-color-hover: #ffa3fd;
  --secondary-color: #5a4a41;
  --submit-color: #5fbb8a;
  --submit-color-hover: #84e3b1;
  --remove-color: #ff5f5f;
  --remove-color-hover: #ff8484;
  --wood-color: #553624;
  --paper-color: #e0c9a6;

  --gryffindor-background-color: #740001;
  --gryffindor-text-color: #eeba30;

  --ravenclaw-background-color: #222f5b;
  --ravenclaw-text-color: #bebebe;

  --hufflepuff-background-color: #f0c75e;
  --hufflepuff-text-color: #372e29;

  --slytherin-background-color: #1a472a;
  --slytherin-text-color: #aaaaaa;
}
