html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: #efefef;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 100px;
}

/* Eksperimentalni custom scrollbar*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-hover);
}

h1 {
  text-align: center;
}

input,
select {
  background-color: var(--background-color-light);
  color: var(--text-color);
  border: 1px solid var(--background-color);
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 20px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 5000px var(--background-color-light) inset;
  -webkit-text-fill-color: var(--text-color) !important;
}
